.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
}

.header h1 {
    font-weight: var(--weight-2);
    font-size: var(--size-1);
}

.nav-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.nav-filter button{
    border-radius: var(--radius-1);
    background: var(--grey-2);
    color: var(--grey-4);
    font-weight: var(--weight-1);
    font-size: var(--size-3);
    padding: 7px 14px;
}

.nav-filter .emphasis {
    background: var(--grey-3);
    border: 2px solid var(--white);
    color: var(--white);
}